.home-art {
  h3 {
    margin-bottom: 1em;
  }
  .home-art__image-container {
    min-height: 210px;
    display: flex;
    justify-content: space-evenly;

    .v1 {
      border-left: 1px solid black;
    }
  }
}
