.home-page-grid-container {
  // display: grid;
  // grid-column-gap: 50px;
  // // grid-template-columns: auto auto auto;
  // padding: 10px;
  width: 85vw;
  max-width: 1230px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;

  .art-container {
    display: flex;
  }
}

@media (min-width: 600px) {
  .home-page-grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 992px) {
  .home-page-grid-container {
    width: 92vw;
    grid-template-columns: repeat(3, 1fr);
  }
}

.find-more-container {
  display: flex;
  justify-content: space-between;
  img {
    width: 57.53px;
  }
}
