.author-container {
  display: none;
}

@media screen and (min-width: 992px) {
  .author-container {
    display: flex;
    width: 70%;
    align-items: flex-end;

    img {
      width: 15%;
      margin-right: 1.5em;
    }

    .author-info {
      margin-bottom: 1.5em;

      p {
        &:nth-child(1) {
          font-size: 1rem;
        }
        &:nth-child(2) {
          font-size: 0.8rem;
        }
      }
    }

    .dot {
      height: 10px;
      width: 10px;
      background-color: black;
      border-radius: 50%;
      display: inline-block;
      margin: 0 4px 0 4px;
    }
  }
}
