.find-me-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  .find-me-content {
    width: 70%;

    .company-sentence {
      span {
        color: #0e95f5;
      }
    }
  }

  p {
    margin-top: 4px;
    margin-bottom: 4px;
  }

  .icon-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }
}
